@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@font-face {
  font-family: "Geist";
  src: url("/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
}
