.ProseMirror {
  width: 100%;
  max-width: 100%;
  margin: 0;
  @apply px-8;
  height: 50vh;
}

.ProseMirror *,
.ProseMirror *::marker {
  @apply !text-text;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.ProseMirror a {
  @apply !text-primary;
}
